body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }


header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    margin: 1em;
    
}

nav li {
    padding: 10px;
    width: 200px;
    background-color: white;
    border-radius: 5px;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    cursor: pointer;
}

h1 {
    background-color: white;
    padding: 1rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#searchInput{
    width: 330px;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

#searchBtn {
    display: block;
    width: 350px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    background-color: white;
    border: none;
    color: black;
    margin: 10px auto;
    padding: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.recipe {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

.recipe img {
    width: 100%;
    border-radius: 5px;
}

.recipe h2 {
    margin-top: 0;
}

.recipe p {
    margin: 10px 0;
}
.save-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
  }

h2 {
    text-align: center;
}

.delete-button {
    background-color: red;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
}